.company-text {
    padding-bottom: 40px;
}
.company-info {
    padding-left: 10px;
    padding-bottom: 45px;
}
.company-text p{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
}

.company-info p a {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #303030;
}

.company-info .velcom {
    background-image: url(../img/velcom.svg);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-y: 3px;
}

.company-info .mts {
    background-image: url(../img/mts.png);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 5px;
    background-position-y: 4px;
}

.company-info .life {
    background-image: url(../img/life.png);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 11px;
    background-position-y: 4px;
}

.company-info .fax {
    background-image: url(../img/phone_blue.png);
    background-repeat: no-repeat;
    padding-left: 46px;
    background-position-x: 8px;
    background-position-y: 5px;
}

.company-info .email {
    background-image: url(../img/letter.svg);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 10px;
    background-position-y: 5px;
}

.contact-text ul li {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
}


@media only screen and (max-width: 992px) {
    .company-info {
        padding-left: 0;
    }
}

@media only screen and (max-width: 576px) {

    .company-info .mts{
        background-image: url(../img/mts.svg);
    }

    .company-info .life{
        background-image: url(../img/life.svg);
    }

}
