body{
    height: 100%;
    min-height: 1302px;
    position: relative;
}
.company-info p{
    margin-bottom: 20px;
}
.contact-text{
    font-family: OpenSans, sans-serif;
}
.company-info {
    padding-left: 30px;
    padding-bottom: 50px;
}

.company-info p a {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #303030;
}

.company-info .velcom {
    background-image: url(../img/velcom.svg);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-y: 3px;
}

.company-info .mts {
    background-image: url(../img/mts.png);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 5px;
    background-position-y: 4px;
}

.company-info .life {
    background-image: url(../img/life.png);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 11px;
    background-position-y: 4px;
}

.company-info .fax {
    background-image: url(../img/phone_blue.png);
    background-repeat: no-repeat;
    padding-left: 46px;
    background-position-x: 8px;
    background-position-y: 5px;
}

.company-info .email {
    background-image: url(../img/letter.svg);
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position-x: 10px;
    background-position-y: 5px;
}

.contact-text ul li {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
    word-spacing: 2px;
}
.map{
    position: relative;
    bottom: -7px;
}
.contact-form {
    margin-bottom: 140px;
}
.contact-form input{
    border-color: #cdcdcd;
    height: 44px;
}
.contact-form textarea{
    border-color: #cdcdcd;
    height: 119px;
}

.contact-form label {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #303030;
}

.contact-form .btn-primary {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
    border-radius: 21.5px;
    background-color: #2f46ab;
    box-shadow: 0 1px 3px 0 #929292;
}

@media only screen and (max-width: 992px) {

    .company-info {
        padding-left: 0;
    }

    .contact-form .btn-primary {
        display: block;
        float: initial;
        margin: 0 auto;
    }

    .color-silver {
        margin-top: 20px;
    }

    .contact-form {
        margin-bottom: 70px;
    }

}

@media only screen and (max-width: 576px) {

   .company-info .mts{
        background-image: url(../img/mts.svg);
    }

    .company-info .life{
        background-image: url(../img/life.svg);
    }

}





