body{
height: 100%;
min-height: 1003px;
position: relative;
}
.filename {
    background: #fff;
    height: 24px;
    border-radius: 4px;
    border: solid 2px #e8e8e8;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: #9b9b9b;
}
.file-upload{
    display: inline-block;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
    display: block;
}
.file-upload span {
    padding: 0 20px 0 0;
    cursor: pointer;
    font-size: 14px;
    color: #4a90e2;
    text-decoration: underline;
}
.order {
    margin-top: 20px;
}
.order form {
    padding: 31px 61px 30px 80px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px 0 rgba(132, 132, 132, 0.5);
}
.order-form h3{
    padding-top: 22px;
}
form .order a {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #4a90e2;
    text-decoration: underline;
}
.order .inputs{
    padding-right: 19px;
}
.order .message{
    padding-left: 10px;
}
form textarea{
    height: 195px;
}

form .btn{
    margin-top:5px;
}
form .btn-primary{
    padding-left: 42px;
    padding-right: 42px;
}
.order-form {
    padding-bottom: 70px;
}


@media only screen and (max-width: 470px) {
    .order form{
     padding: 31px 20px 30px 30px;
 }

}

