.platform{
    margin-top: 30px;
}
.image{
    width: 100%;
}
.order-btn{
    margin-top: 20px;
    width: 100%;
}
.title{
    font-family: "OpenSans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 14px
}
.description{
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #303030;
}
.table-title{
    font-weight: bold;
}
.scheme{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    width: 60%;
}


@media only screen and (max-width: 768px) {
    .image {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .order-btn{
        margin-bottom: 20px;
    }
}