@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
/*html {*/
/*html {*/
    /*height: 100%;*/
    /*position: relative;*/
/*}*/

html{position: relative;min-height: 100%;}

body {padding-bottom: 240px;}

p {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    color: #303030;
}

a:hover {
    text-decoration: none;
    color: #505050;
}

h3 {
    font-family: "OpenSans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 14px;
}

/* header */
header .time-work {
    padding-left: 35px;
    padding-right: 0;
}

header .time-work ul {
    margin: 0;
}

header .time-work li {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;
    color: #000000;
}

header {
    margin-top: 10px;
}

header .velcom {
    background-image: url(../img/velcom.svg);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 1px;
}

header .mts {
    background-image: url(../img/mts.png);
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 3px;
}

header .phones {
    padding-right: 20px;
    text-align: right;
}

header .phones p {
    margin:1px 0 2px 0;
    /*margin: 3px 0 5px 0;*/
}

header .life {
    background-image: url(../img/life.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 3px;
}

header .phones p a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #2f46ab;
}

/* end header */

/* navbar */

nav {
    height: 56px;
}

.breadcrumb {height: auto;}

.navbar {
    background-image: linear-gradient(to right, #629f32, #4fa15d 31%, #41a480 60%, #27a1b8);
    padding: 0;
    display: block;
}

.navbar .link {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.navbar .active {
    background: rgba(255, 255, 255, 0.3);
}

.navbar .nav-item {
    height: 56px;
    padding: 15px 36px 0 36px;

}

.navbar-list {
    margin: 0;
}

.navbar-nav {
    margin: 0 auto;
}

/* end navbar */

/* breadcrumb */

.breadcrumb {
    background-color: white;
    padding-left: 0;
    padding-top: 25px;
    margin: 0;

}

.breadcrumb-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #303030;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #303030;
    content: ">";
}

.breadcrumb-item.active {
    color: #b5b5b5;
    font-weight: normal;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 4px;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 4px;
}

/* end breadcrumb */

/* form */

form label {
    font-family: OpenSans, sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    color: #383838;
}

form textarea {
    resize: none;
}

form .file {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px #c3c3c3;
}

form .file p {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #9b9b9b;
    margin: 0;
    padding-left: 20px;
}

form .form-control {
    border: solid 1px #979797;
}

.btn-primary {
    border-radius: 19.8px;
    background-color: #1c2f94;
    border: none;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    padding: 10px 41px 10px 41px;
    float: right;
}

/* end form */

/* footer */

footer {
    background-image: linear-gradient(to right, #629f32, #4fa15d 31%, #41a480 60%, #27a1b8);
    /*padding-bottom: 22px;*/
    min-height: 240px;
    height: 240px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    padding-top: 15px;
}
.footer{
    padding-top: 27px;
}
.footer-menu li {
    font-family: OpenSans, sans-serif;
    font-size: 16px;

    text-decoration: underline;
    padding: 0 25px 0 25px;
    display: inline-block;
}
.footer-menu li a{
    color: #ffffff;
}

footer .info {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

footer .time-work li {
    padding-top: 18px;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
}

footer .time-work li:first-child {
    padding-top: 5px;
}

footer .phone {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    display: inline;
}

footer .phone span {
    font-style: italic;
    color: #d6d6d6;
    font-size: 14px;
}

footer .velcom {
    background-image: url(../img/velcom.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position-y: 3px;
}

footer .mts {
    background-image: url(../img/mts.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position-x: 5px;
    background-position-y: 4px;
}

footer .life {
    background-image: url(../img/life.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-x: 9px;
    background-position-y: 4px;
}

footer .fax {
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-x: 6px;
    background-position-y: 5px;
}

/* end footer */

/* other */

.line {
    margin-bottom: 30px;
    height: 2px;
    background-color: #e8e8e8;
}

.center {
    text-align: center;
}

.text-bold {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #303030;
}

.color-silver {
    color: #464646;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {height: initial;}
    .navbar-dark .navbar-toggler {margin: 10px;}

    body {padding-bottom: 297px;}
    footer {height: 297px;}

    footer .logo img {
        width: 160px;
    }

    footer .footer-menu li {
        padding: 5px 13px 0 13px;
    }

    footer .footer-menu li:first-child {
        padding-left: 20px !important;
    }

}

@media only screen and (max-width: 767px) {

    body {padding-bottom: 339px;}
    footer {height: 339px;}

    header .phones {
        margin: 0 auto;
        text-align: center;
    }

    header .phones p {
        display: inline-block;
        padding-left: 60px;
    }

    footer .logo {
        text-align: center;
    }

}

@media only screen and (max-width: 576px) {

    body {padding-bottom: 558px;}
    footer {height: 558px;}

    .logo {
        text-align: center;
    }

    header .time-work {
        padding: 5px 0 5px 0;
        text-align: center;
    }

    footer .footer-menu li {
        display: block;
        text-align: center;
        padding: 5px 0 0 0;
    }

    footer .footer-menu li:first-child {
        padding-left: 0 !important;
    }

    footer .info {
        text-align: center;
    }

    footer .time-work {
        text-align: center;
        padding: 0 0 10px 0;
    }

    footer .phones-footer {
        margin: 0 auto;
        text-align: center;
    }

    footer .phones-footer p {
        display: inline-block;
        padding-left: 33px;
    }

    header .velcom {
        background-position-x: 0;
        padding-left: 35px !important;
    }

    header .mts {
        background-position-x: 5px;
        padding-left: 35px !important;
        background-image: url(../img/mts.svg);
    }

    header .life {
        background-position-x: 12px;
        padding-left: 35px !important;
        background-image: url(../img/life.svg);
        background-position-x: 10px;
    }

    footer .mts{
        background-image: url(../img/mts.svg);
    }

    footer .life{
        background-image: url(../img/life.svg);
    }

    .wrapper-footer-nav {padding: 0 15px!important;}

}

@media only screen and (max-width: 435px) {

    body {
        padding-bottom: 601px;
    }

    footer {
        height: 601px;
    }
}

@media only screen and (max-width: 389px) {

    body {
        padding-bottom: 644px;
    }

    footer {
        height: 644px;
    }
}
